
a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
}
body {
	font-family: "Open Sans Condensed";
	font-size: 20px;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	width: 100%;
	background-color: black;
	margin: 0%;
	padding: 0%;
}

h1 {
	display: flex;
	color: white;
	padding: 1%;
	margin-left: 1%;
}

h2 {
	color: black;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 1%;
	margin-right: 5%;
}

.nav-item {
	padding: 1%;
	margin-right: 6%;
}

img {
	width: 960px;
	height: 640px;
	padding: 0;
	margin-left: 15%;
}
.container {
	width: 850px;
	margin: 2% auto 2% auto;
}

.grid {
	display: grid;
	grid-template-columns: ;
}
.bar {
	background-color: black;
	height: 1px;
	width: 100%;
}

footer {
	width: 800px;
	margin: auto;
}