
a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
}

body {
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	width: 100%;
	background-color: black;
	margin: 0%;
	padding: 0%;
}

h1 {
	display: flex;
	color: white;
	padding: 1%;
	margin-left: 1%;
}

h2 {
	color: black;
}

p {
	font-size: 20px;
}

.intro-paragraph {
	font-style: bold;
	font-weight: 700;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 1%;
	margin-right: 5%;
	font-style: italic;
}

.nav-item {
	padding: 1%;
	margin-right: 6%;
}

img {
	max-width: 80%;
	max-height: 80%;
	padding: 0;
	margin-left: 10%;
}
.container {
	width: 75%;
	margin: 2% auto 2% auto;
}

.grid-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-gap: 1rem;
}

.item {
	background-color: gray;
	width: 300px;
	height: 200px;
}

.bar {
	background-color: black;
	height: 1px;
	width: 100%;
}

footer {
	width: 75%;
	margin: auto;
}

/* Media Queries*/

@media only screen and (min-width: 800px){
	.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 200px 200px 200px;
  grid-gap: 1rem;
	}

.container {
	width: 850px;
	margin: 2% auto 2% auto;
}

img {
	max-width: 960px;
	max-height: 640px;
	padding: 0;
	margin-left: 17%;
}

footer {
	width: 850px;
	margin: auto;
}

}